@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
  /* overflow: hidden; */
}
body * {
  box-sizing: border-box;
  font-weight: 800;
}
body p {
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-size: 1rem;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .inner {
    max-width: 90%;
  }
}

.br-sp {
  display: none;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .br-sp {
    display: block;
  }
}

.br-pc {
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .br-pc {
    display: none;
  }
}
@media (max-width: 415px) {
  .br-pc {
    display: none;
  }
}

/* 
.wrap {
    overflow: hidden;
} */
.headerBlock {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.5s;
  left: 0;
  right: 0;
}
.headerBlock .headerLeft {
  display: flex;
  flex: 1;
  margin-left: 3%;
  align-items: center;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerLeft {
    margin-left: 1%;
    max-width: 150px;
  }
}
.headerBlock .headerLeft .headerLogo {
  margin-right: 5%;
  cursor: pointer;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerLeft .headerLogo {
    margin-right: 1%;
  }
}
.headerBlock .headerLeft .headerLogo .logo {
  display: block;
}
.headerBlock .headerLeft .headerLogo .logoScroll {
  display: none;
}
.headerBlock .headerLeft .headerLogo:hover {
  opacity: 0.8;
}
.headerBlock .headerLeft .headerMenu-pc {
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
.headerBlock .headerLeft .headerMenu-pc ul {
  display: flex;
}
.headerBlock .headerLeft .headerMenu-pc ul li a {
  padding: 0.8rem 1.25rem;
  color: #fff;
}
.headerBlock .headerLeft .headerMenu-pc ul li a:hover {
  opacity: 0.8;
}
@media (max-width: 415px) {
  .headerBlock .headerLeft .headerMenu-pc {
    display: none;
  }
}
.headerBlock .headerRight {
  margin-right: 3%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
.headerBlock .headerRight button {
  color: #fff;
  background: #978F10;
  padding: 1rem 2.3125rem;
  box-sizing: border-box;
  border: none;
  border: 1px solid #fff;
  cursor: pointer;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerRight button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    margin-right: 10px;
  }
}
.headerBlock .headerRight button::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  vertical-align: baseline;
  transform: translateY(20%);
  margin-right: 5px;
  background-image: url("../img/calender.png");
}
.headerBlock .headerRight button:hover {
  opacity: 0.8;
}
.headerBlock .headerRight .headerMenuBlock-sp {
  display: none;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerRight .headerMenuBlock-sp {
    display: block;
  }
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle {
  position: absolute;
  top: -330px;
}
.headerBlock .headerRight .headerMenuBlock-sp .spMainNav {
  display: none;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:focus-visible ~ .hamburger {
  box-shadow: 1px 1px 2px gray;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .hamburger span {
  background: transparent;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .hamburger span::before {
  top: 50%;
  transform: rotate(45deg);
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .hamburger span::after {
  top: 50%;
  transform: rotate(-45deg);
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .spMainNav {
  display: block;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .spMainNav .spMainNav-list {
  position: absolute;
  background: #fff;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.8;
  width: 100%;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .spMainNav .spMainNav-item {
  padding: 15px 4%;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.headerBlock .headerRight .headerMenuBlock-sp #navToggle:checked ~ .spMainNav .spMainNav-item a {
  color: #000;
  width: 100%;
  padding: 15px 40%;
}
.headerBlock .headerRight .headerMenuBlock-sp .hamburger {
  display: none;
  width: 60px;
  height: 50px;
  padding: 10px;
  position: relative;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerBlock .headerRight .headerMenuBlock-sp .hamburger {
    display: block;
  }
}
.headerBlock .headerRight .headerMenuBlock-sp .hamburger span {
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
  transition: all ease 0.15s;
}
.headerBlock .headerRight .headerMenuBlock-sp .hamburger span::before {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transition: all ease 0.15s;
}
.headerBlock .headerRight .headerMenuBlock-sp .hamburger span::after {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  transition: all ease 0.15s;
}

.headerScroll {
  background: #fff;
  transition: 0.5s;
}
.headerScroll .headerLeft .headerLogo .logo {
  display: none;
}
.headerScroll .headerLeft .headerLogo .logoScroll {
  display: block;
}
.headerScroll .headerLeft .headerMenu-pc ul li a {
  color: #000;
}
.headerScroll .headerRight .headerMenuBlock-sp .hamburger {
  display: none;
  width: 60px;
  height: 50px;
  padding: 10px;
  position: relative;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .headerScroll .headerRight .headerMenuBlock-sp .hamburger {
    display: block;
  }
  .headerScroll .headerRight .headerMenuBlock-sp .hamburger span {
    background: #000;
  }
  .headerScroll .headerRight .headerMenuBlock-sp .hamburger span::before {
    background: #000;
  }
  .headerScroll .headerRight .headerMenuBlock-sp .hamburger span::after {
    background: #000;
  }
}

.footerInfo {
  padding: 60px 0;
  background-image: url(../img/bg-3.jpg);
  background-size: cover;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .footerInfo {
    background-image: url(../img/bg-3-sp.jpg);
  }
}
.footerInfo .footerNav {
  width: 100%;
  text-align: center;
}
.footerInfo .footerNav ul {
  writing-mode: vertical-lr;
  display: inline-block;
  text-align: left;
}
.footerInfo .footerNav ul a {
  color: #000;
  line-height: 2;
  letter-spacing: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
}
.footerInfo .footerLogo {
  display: block;
  width: 145px;
  height: 96px;
  margin: 90px auto 65px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .footerInfo .footerLogo {
    margin-top: 65px;
  }
}
.footerInfo .shopInfo {
  margin: 0 auto;
  text-align: center;
}
.footerInfo .shopInfo .shopAddress {
  margin-bottom: 15px;
}
.footerInfo .shopInfo p {
  display: inline-block;
}
.footerInfo .shopInfo p:first-of-type {
  margin-right: 15px;
}

.copyRight {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 21px 0 23px;
  font-size: 0.75rem;
  font-weight: 500;
}

.c-slideBox {
  height: 1079px;
  overflow: hidden;
  position: relative;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-slideBox {
    height: 780px;
  }
}
@media (max-width: 415px) {
  .c-slideBox {
    height: 540px;
  }
}
.c-slideBox .slideItem {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: anime ease-out 30s 0s infinite;
  overflow: hidden;
  /* ふわっとアニメーション */
}
.c-slideBox .slideItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-slideBox .slideItem:nth-of-type(2) {
  animation-delay: 10s;
}
.c-slideBox .slideItem:nth-of-type(3) {
  animation-delay: 20s;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    transform: scale(1.2);
  }
  45% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.c-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-modal .modal-overlay {
  display: flex;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  justify-content: center;
}
.c-modal .modal-overlay .modal-container {
  display: block;
  position: absolute;
  background: #fff;
  width: 500px;
  top: 15%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #707070;
  padding: 20px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-modal .modal-overlay .modal-container {
    width: 100%;
    top: 80px;
    padding: unset;
  }
}
.c-modal .modal-overlay .modal-container .modal-title {
  font: normal normal 500 20px/27px "YuMincho";
  border-bottom: 1px solid #E7E7E7;
  margin: 25px 30px 0;
  padding-bottom: 25px;
}
.c-modal .modal-overlay .modal-container .modal-close {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 18px;
  height: 18px;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form {
  text-align: left;
  padding: 25px;
  padding-bottom: 0;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form input, .c-modal .modal-overlay .modal-container .modal-content .reserve-form select {
  width: 100%;
  border: 1px solid #E7E7E7;
  margin-bottom: 15px;
  height: 34px;
  box-sizing: border-box;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form input::placeholder, .c-modal .modal-overlay .modal-container .modal-content .reserve-form select::placeholder {
  color: #797878;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form select {
  margin-bottom: 15px;
  appearance: none;
  color: #797878;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form #plan {
  font: normal normal medium 14px/19px "YuMincho";
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form #plan option:first-child {
  color: #bbb;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form #js-datepicker {
  margin-bottom: 0;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form .submitBtn {
  display: block;
  width: 50%;
  height: 42px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 64px auto 90px;
  line-height: 1;
}

/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}

.c-card {
  display: flex;
  width: 100%;
  max-height: 500px;
  margin-bottom: 122px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card {
    flex-direction: column;
    max-height: unset;
    background-image: url(../img/bg-2-sp.jpg);
    margin-bottom: 0;
    padding-bottom: 80px;
    /* opacity: 0.9; */
  }
}
.c-card .cardImg {
  max-width: 52%;
  overflow: hidden;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card .cardImg {
    max-width: 100%;
    height: 300px;
  }
}
.c-card .cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all;
}
.c-card .cardContents {
  max-width: 45%;
  margin-left: 5%;
  margin-right: auto;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card .cardContents {
    max-width: 100%;
    margin: 0 auto;
  }
}
.c-card .cardContents .cardTitle {
  font-size: 2.25rem;
  line-height: 1.72;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card .cardContents .cardTitle {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.c-card .cardContents p {
  line-height: 2;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card .cardContents p {
    font-size: 0.9375rem;
    line-height: 1.8;
    text-align: center;
  }
}
.c-card:hover .cardImg {
  overflow: hidden;
}
.c-card:hover .cardImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.c-card-info {
  display: flex;
  background: #F6F6F6;
  width: 46%;
  height: 120px;
  margin-bottom: 20px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-card-info {
    width: 48%;
  }
}
.c-card-info .infoContent {
  padding: 12px 30px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
.c-card-info .infoContent .date {
  font: normal normal 500 14px/32px "YuMincho";
}
@media (max-width: 845px) {
  .c-card-info .infoContent {
    padding: 5px 10px;
  }
}
@media (max-width: 415px) {
  .c-card-info .infoContent {
    font-size: 0.875rem;
  }
}
@media (max-width: 415px) {
  .c-card-info {
    width: 100%;
    height: unset;
  }
}
.c-card-info img {
  width: 120px;
  height: 100%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card-info img {
    width: 100px;
    height: auto;
  }
}

.reverse {
  flex-direction: row-reverse;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .reverse {
    flex-direction: column;
  }
}
.reverse .cardContents {
  margin-left: auto;
  margin-right: 5%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .reverse .cardContents {
    margin: 0 auto;
    max-width: 100%;
  }
}

.c-card-room {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 140px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-card-room {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.c-card-room .roomImg {
  width: 45%;
  max-width: 525px;
  position: absolute;
  top: -60px;
  overflow: hidden;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-card-room .roomImg {
    width: 50%;
    height: 230px;
  }
}
@media (max-width: 415px) {
  .c-card-room .roomImg {
    position: unset;
    width: 100%;
    height: auto;
  }
}
.c-card-room .roomImg img {
  width: 100%;
  height: 300px;
  transition: 1s all;
}
.c-card-room .roomContent {
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  width: 80%;
  padding: 55px;
  padding-left: 20%;
  margin-left: 30%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-card-room .roomContent {
    width: 90%;
    padding: 30px;
    padding-left: 25%;
  }
}
@media (max-width: 415px) {
  .c-card-room .roomContent {
    background-image: url("../img/bg-2-sp.jpg");
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: unset;
  }
}
.c-card-room .roomContent h3 {
  font-size: 1.5rem;
  margin-bottom: 46px;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-card-room .roomContent h3 {
    font-size: 1.25rem;
    margin-bottom: 20px;
    width: 100%;
  }
}
.c-card-room .roomContent p {
  line-height: 2;
  margin-bottom: 47px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .c-card-room .roomContent p {
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
.c-card-room .roomContent .comment {
  line-height: 1.5;
  font-size: 0.875rem;
}
.c-card-room:hover .roomImg {
  overflow: hidden;
  transition: 1s all;
}
.c-card-room:hover .roomImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.reverse-room {
  flex-direction: row-reverse;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .reverse-room {
    flex-direction: column;
  }
}
.reverse-room .roomContent {
  margin-left: unset;
  margin-right: 30%;
  padding-left: 5%;
  padding-right: 20%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .reverse-room .roomContent {
    padding-right: 25%;
  }
}
@media (max-width: 415px) {
  .reverse-room .roomContent {
    padding-right: unset;
  }
}
.reverse-room .roomContent h3 {
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .reverse-room .roomContent h3 {
    width: 100%;
  }
}

.c-linkBtn {
  display: inline-block;
  margin-top: 40px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-linkBtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.c-linkBtn a {
  padding: 1rem 2.5rem;
  border: 1px solid #707070;
  color: #000000;
  height: auto;
  transition: 0.2s all;
  font-weight: 500;
}
.c-linkBtn a:hover {
  background: #978F10;
  color: #fff;
  border: 1px solid #978F10;
  transition: 0.2s all;
}

.c-sectionTitle h2 {
  font: normal normal 500 36px/32px "YuMincho";
  text-align: center;
  margin-bottom: 60px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-sectionTitle h2 {
    font: normal normal 500 28px/24px "YuMincho";
  }
}
.c-sectionTitle img {
  display: block;
  margin: 0 auto 13px;
}

.c-tabPanel {
  width: 100%;
  margin: 0 auto;
}
.c-tabPanel .tab-group {
  display: flex;
  justify-content: center;
}
.c-tabPanel .tab-group .tab {
  cursor: pointer;
}
.c-tabPanel .tab-group li {
  padding: 10px 20px;
}
.c-tabPanel .tab-group .is-active {
  font-weight: 500;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}
.c-tabPanel .panel-group {
  margin-top: 50px;
}
.c-tabPanel .panel-group .panel {
  display: none;
}
.c-tabPanel .panel-group .panel > .c-card-info:nth-of-type(5), .c-tabPanel .panel-group .panel .c-card-info:nth-of-type(6) {
  margin-bottom: 0;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-tabPanel .panel-group .panel > .c-card-info:nth-of-type(5), .c-tabPanel .panel-group .panel .c-card-info:nth-of-type(6) {
    margin-bottom: 20px;
  }
}
.c-tabPanel .panel-group .panel.is-show {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-breadCrumbList {
  margin: 30px 0 90px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .c-breadCrumbList {
    margin-bottom: 50px;
  }
}
.c-breadCrumbList ul {
  display: flex;
}
.c-breadCrumbList ul li a {
  color: #000;
  font-weight: 500;
}
.c-breadCrumbList ul li a:hover {
  text-decoration: underline;
}
.c-breadCrumbList ul li::after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
}
.c-breadCrumbList ul li:last-of-type::after {
  content: "";
}

.p-mainVisual {
  position: relative;
}
.p-mainVisual .mainTitle {
  position: absolute;
  writing-mode: vertical-rl;
  color: #fff;
  z-index: 100;
  font: normal normal 800 34px/42px "YuMincho";
  top: 30%;
  right: 25%;
  line-height: 2;
  letter-spacing: 1.25rem;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-mainVisual .mainTitle {
    font: normal normal 800 28px/34px "YuMincho";
    top: 30%;
    right: 32%;
    line-height: 2;
    letter-spacing: 1rem;
  }
}

.mainVisual-room {
  text-align: center;
}
.mainVisual-room .mainTitle-room {
  position: absolute;
  display: inline-block;
  color: #fff;
  top: 50%;
  transform: translateX(-50%);
  font: normal normal 800 34px/42px "YuMincho";
}
.mainVisual-room .mainVisual-room {
  height: 500px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .mainVisual-room .mainVisual-room {
    height: 400px;
  }
}
.mainVisual-room .mainVisual-room img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p-mainCatch {
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 681px;
  writing-mode: vertical-rl;
  display: flex;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 845px) {
  .p-mainCatch {
    background-image: url(../img/bg-sp.jpg);
    writing-mode: unset;
    padding-bottom: 100px;
  }
}
.p-mainCatch .mainCatchContainer {
  display: block;
  width: 600px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.p-mainCatch .mainCatchContainer .catchTitle {
  font-size: 1.75rem;
  line-height: 1.5;
  font-family: "YuMincho";
  letter-spacing: 0.5rem;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
.p-mainCatch .mainCatchContainer .catchTitle .brIndent {
  display: block;
  text-indent: 3rem;
  font-weight: 500;
}
@media (max-width: 845px) {
  .p-mainCatch .mainCatchContainer .catchTitle {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .p-mainCatch .mainCatchContainer .catchTitle .brIndent {
    text-indent: unset;
  }
}
.p-mainCatch .mainCatchContainer p {
  margin-top: 50px;
  letter-spacing: 0.25rem;
  font-family: "YuMincho";
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-mainCatch .mainCatchContainer p {
    margin-top: 20px;
    margin-left: 10px;
  }
}
.p-mainCatch .mainCatchContainer p span {
  text-orientation: upright;
  font-weight: 500;
}
.p-mainCatch .mainCatchContainer .ryokanName {
  align-self: flex-end;
  font-size: 1.375rem;
  letter-spacing: 0.5rem;
}

.p-mainContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 106px;
  margin-bottom: 78px;
  overflow: hidden;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-mainContents {
    margin-top: unset;
    margin-bottom: unset;
    background-image: url(../img/bg-2-sp.jpg);
  }
}

.mainContents-room {
  width: 100%;
  margin-top: 90px;
  padding-top: 50px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .mainContents-room {
    margin-top: 50px;
  }
}
.mainContents-room .mainContent-roomContainer {
  width: 100%;
}
.mainContents-room .mainContent-roomContainer h2 {
  height: 2;
  text-align: center;
  margin-bottom: 130px;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .mainContents-room .mainContent-roomContainer h2 {
    font-size: 1.125rem;
    margin-bottom: 50px;
  }
}

.p-recommendationPlan {
  background-image: url(../img/bg02.jpg);
  background-size: cover;
  width: 100%;
  padding: 60px 0 140px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-recommendationPlan {
    background-image: url(../img/bg02-sp.jpg);
  }
}
.p-recommendationPlan .planContens {
  display: flex;
  justify-content: space-around; /* @if $point == pc {
	@media ( min-width: $pc-breakpoint ) {
		@content ;
	}
}
@if $point == wide {
	@media ( min-width: $wd-breakpoint ) {
		@content ;
	}
} */
}
@media (max-width: 415px) {
  .p-recommendationPlan .planContens {
    flex-direction: column;
  }
}
.p-recommendationPlan .planContens .planMenu {
  width: 30%;
  text-align: left;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-recommendationPlan .planContens .planMenu {
    width: 100%;
  }
}
.p-recommendationPlan .planContens .planMenu .planImg {
  overflow: hidden;
}
.p-recommendationPlan .planContens .planMenu .planImg img {
  width: 100%;
  height: 100%;
  transition: 1s all;
}
.p-recommendationPlan .planContens .planMenu h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: 28px;
  margin-bottom: 30px;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-recommendationPlan .planContens .planMenu h3 {
    margin-bottom: 20px;
  }
}
.p-recommendationPlan .planContens .planMenu p {
  width: 90%;
  line-height: 2;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-recommendationPlan .planContens .planMenu p {
    width: 100%;
    line-height: 1.5;
    margin-bottom: 50px;
  }
}
.p-recommendationPlan .planContens .planMenu:hover .planImg {
  overflow: hidden;
}
.p-recommendationPlan .planContens .planMenu:hover .planImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.p-info {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-info .infoContainer {
  width: 100%;
}

.p-access {
  background-image: url(../img/bg-1.jpg);
  background-size: cover;
  padding: 50px 0 110px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access {
    background-image: url(../img/bg-1-sp.jpg);
  }
}
.p-access .addressBlock {
  display: flex;
  justify-content: space-between; /* @if $point == pc {
	@media ( min-width: $pc-breakpoint ) {
		@content ;
	}
}
@if $point == wide {
	@media ( min-width: $wd-breakpoint ) {
		@content ;
	}
} */
}
@media (max-width: 415px) {
  .p-access .addressBlock {
    flex-direction: column;
  }
}
.p-access .addressBlock .addressImg {
  width: 50%;
  height: 100%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .addressBlock .addressImg {
    width: 100%;
    margin-bottom: 20px;
  }
}
.p-access .addressBlock .addressInfo {
  width: 45%;
  text-align: left;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .addressBlock .addressInfo {
    width: 100%;
  }
}
.p-access .addressBlock .addressInfo tr {
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .addressBlock .addressInfo tr {
    display: flex;
    margin-bottom: 10px;
  }
}
.p-access .addressBlock .addressInfo th, .p-access .addressBlock .addressInfo td {
  display: block;
  line-height: 2;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .addressBlock .addressInfo th, .p-access .addressBlock .addressInfo td {
    display: inline-block;
  }
}
.p-access .addressBlock .addressInfo th {
  font-weight: 800;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .addressBlock .addressInfo th {
    flex: 0 0 25%;
  }
}
.p-access .addressBlock .addressInfo td, .p-access .addressBlock .addressInfo span {
  font-weight: 500;
}
.p-access .gmapBlock {
  margin: 70px auto 0;
  width: 60%;
  position: relative;
  overflow: hidden;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-access .gmapBlock {
    width: 100%;
    margin-top: 50px;
  }
}
.p-access .gmapBlock::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.p-access .gmapBlock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: all ease 0.2s;
}

.p-onsenExplanation {
  margin-bottom: 80px;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-onsenExplanation {
    margin-bottom: unset;
  }
}
.p-onsenExplanation .explanationContainer {
  padding: 80px 0;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-onsenExplanation .explanationContainer {
    border-top: unset;
    border-bottom: unset;
  }
}
.p-onsenExplanation .explanationContainer h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.625rem;
  font-weight: 500;
}
.p-onsenExplanation .explanationContainer .explanationContent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-onsenExplanation .explanationContainer .explanationContent {
    padding-left: unset;
    padding-right: unset;
  }
}
.p-onsenExplanation .explanationContainer .explanationContent dl {
  width: 100%;
  display: flex;
  border-top: 1px solid #E7E7E7;
  padding: 15px 0;
  font-size: 0.9375em;
  line-height: 2;
}
.p-onsenExplanation .explanationContainer .explanationContent dl dt {
  width: 20%;
  font-size: 0.9375rem;
  font-weight: 500;
  /* @if $point == pc {
  	@media ( min-width: $pc-breakpoint ) {
  		@content ;
  	}
  }
  @if $point == wide {
  	@media ( min-width: $wd-breakpoint ) {
  		@content ;
  	}
  } */
}
@media (max-width: 415px) {
  .p-onsenExplanation .explanationContainer .explanationContent dl dt {
    width: 22%;
  }
}
.p-onsenExplanation .explanationContainer .explanationContent dl dd {
  flex: 1;
  font-size: 0.9375rem;
  font-weight: 500;
}
.p-onsenExplanation .explanationContainer .explanationContent dl:last-of-type {
  border-bottom: 1px solid #E7E7E7;
}

/* @use "object/utility/spacing"; *//*# sourceMappingURL=style.css.map */