@use "../../foundation/variables" as var;
@use "../../foundation/mixins" as min;

.p-access {
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    padding: 50px 0 110px;

    @include min.breakpoint(sp) {
        background-image: url(../img/bg-1-sp.jpg);
    }

    .addressBlock {
        display: flex;
        justify-content: space-between;

        @include min.breakpoint(sp) {
            flex-direction: column;
        }

        .addressImg {
            width: 50%;
            height: 100%;

            @include min.breakpoint(sp) {
                width: 100%;
                
                margin-bottom: 20px;
            }
        }

        .addressInfo {
            width: 45%;
            text-align: left;

            @include min.breakpoint(sp) {
                width: 100%;
            }

            tr {
                @include min.breakpoint(sp) {
                    display: flex;
                    margin-bottom: 10px;
                }
            }

            th, td {
                display: block;
                line-height: 2;

                @include min.breakpoint(sp) {
                    display: inline-block;
                }
            }

            th {
                font-weight: 800;

                @include min.breakpoint(sp) {
                    flex: 0 0 25%;
                }
            }
            td, span {
                font-weight: 500;
            }

        }
    }

    .gmapBlock {
        margin: 70px auto 0;
        width: 60%;
        position: relative;
		overflow: hidden;

        @include min.breakpoint(sp) {
            width: 100%;
            margin-top: 50px;
        }
        &::before{
            content: '';
            display: block;
            padding-top: 56.25%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;		
            object-fit: cover; 
            object-position: bottom;
            transition: all ease .2s;
        }
    }
}